body {
    background-image: url('mushroom-cloud.png');
    background-size: 275px 275px;
    background-position: center;
}

h1 {
    font-size: 3em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: hotpink;
}

.heading{
    border: 2px solid red;
}

h1, .dropdown {
    text-align: center;
    margin-top: 25px
}

.card {
    display: block;
    box-shadow: 20px 5px 7px black;
    padding: 10px;
    margin: 25px 20px 0px;
    border-radius: 15px 50px 30px;
}

.dropdown-menu {
  margin-top: 25px;
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0)
}

